body,html
  width 100%
  min-width 320px
  max-width 1920px
  margin auto

body 
  hyphens none
  background _c1
  -webkit-text-size-adjust none

#content
  font 16px/1.4em Source Sans Pro
  color black
  overflow hidden
  *
    box-sizing border-box
    outline none