// Resolution
base = 1920
wide = 1600
screen = 1400
desktop = 1200
tablet = 980
mobile = 765
album = 567

// @media
max(size)
  @media all and (max-width: size px)
    {block}
min(size)
  @media all and (min-width: size + 1 px)
    {block}
between(sizefrom, sizeto)
  @media(min-width: sizefrom + 1 px) and (max-width: sizeto px)  
    {block}

// Colors
_c1 = #bdcddd
_c2 = #c2dde5


// Path
link(file)
  return url(../img/file)

// SVG fix
svg
  transform translate3d(0,0,0)